@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$font-principal:"Fredericka the Great";
$font-secundaria:"Lobster";

/*Zerando valores padroes de navegadores*/ 
*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
}

@mixin estili-names($font-family,$color,$font-size) {
  font-family:$font-family;
  color:$color;
  font-size: $font-size;
}
/*Estilização da sessão principal*/ 
.sessao-principal{
  height:100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(to left, #29292a,#222934);

  .resultado-wrapper{
    background-color: rgb(115, 134, 170);
    width: 80%;
    height:20%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    top: -2rem;
    border-radius:.4rem;
    color: #fff;
    display: flex;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:3px;
    justify-content: center;

    &::-webkit-scrollbar{
      background-color:rgb(255, 255, 255);
      width: .1rem;
    }

    &::-webkit-scrollbar-thumb{
      background-color:rgba(39, 38, 58, 0.667);
      width: .4rem;
    }
  }

  .gerador-wrapper{
    background-color: #0c2c64;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    height:60%;
    border-radius: 5px;

    h3{
      @include estili-names($font-principal,#fff,25px);
      position: relative;
      top: -4rem;
      left: -5rem;
      font-size: 20px;
      text-shadow: 1px 1px 1px #000;
      letter-spacing:5px;
      background-color:#1350BD; 
      padding:1rem 1rem;
      border-radius: .4rem;
    }

    .gerador-elementos{
      margin:.4rem;


      input[type="number"]{
        width: 30%;
        outline: none;
        @include estili-names($font-secundaria,#000,15px)
      }

      label{
        @include estili-names($font-secundaria,#fff,20px)
      }
    }

    .btn_senha{
      width: 30%;
      border: none;
      padding:.5rem .5rem;
      border-radius: .2rem;
      font-size: 15px;
      font-family: $font-secundaria;
      color: #fff;
      background-color:#334652;
      border:solid 1px #fff;
      cursor: pointer;
      transition:all .4s;
      position: absolute;
      bottom: 6rem;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  .btn_voltar_port{
    @include estili-names($font-principal,#fff,20px);
    position: absolute;
    bottom:3rem;
    left: 5rem;
    text-decoration: none;
    padding:.4rem 2rem;
    background-color:#1350BD;
    border-radius: .4rem;
    border: solid 1px #fff;
    transition:all .4s;

    &:hover{
      transform:scale(1.1);

    }
  }


  @media(max-width:645px){
    .gerador-wrapper{
      width: 90%;

      h3{
        left:0;
      }

      .gerador-elementos{
        font-size:15px;
      }

      .btn_senha{
        width: 80%;
      }
    }

    .btn-voltar-port{
      left: 0;
    }
  }
}

