/*Importante fontes*/
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$font-principal:"Cantarell";
$font-secundaria:"Montserrat";

/*Zerando valores padroes de navegadores*/ 
*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
}
/*Usando mixin para deixar definida algumas propriedades*/
@mixin estili-names($font-family,$color,$font-size) {
  font-family:$font-family;
  color:$color;
  font-size: $font-size;
}

/*Estilização da sessão principal*/ 
.sessao-principal{
  height:100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(to left, #29292a,#222934);

  // Campo de resultado
  .resultado-wrapper{
    background-color: rgb(115, 134, 170);
    width: 80%;
    height:20%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    top: -2rem;
    border-radius:.4rem;
    color: #fff;
    display: flex;
    align-items:center;
    font-family: $font-principal;
    justify-content: center;

    // Estilizando scrollbar da pagina
    &::-webkit-scrollbar{
      background-color:rgb(255, 255, 255);
      width: .1rem;
    }

    &::-webkit-scrollbar-thumb{
      background-color:rgba(39, 38, 58, 0.667);
      width: .4rem;
    }
  }
  // Wrapper dos inputs
  .gerador-wrapper{
    background-color: #0c2c64;
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30%;
    height:25rem;
    border-radius: 5px;

    // Estilizando nome da sessão
    h3{
      @include estili-names($font-principal,#fff,25px);
      position: absolute;
      top: -5rem;
      left: -5rem;
      font-size: 30px;
      text-shadow: 1px 5px 4px rgb(121, 83, 83);
      padding:1rem 1rem;
      border-radius: .4rem;
    }
    // Estilizando espaçamento entre inputs
    .gerador-elementos{
      margin:.4rem;

      //Pegando input com type number 
      input[type="number"]{
        width: 15%;
        outline: none;
        @include estili-names($font-secundaria,#000,15px)
      }
      // Estilizando label do projeto
      label{
        @include estili-names($font-secundaria,#fff,15px)
      }
    }

    // Gerador de senha
    .btn_senha{
      width: 80%;
      border: none;
      padding:.5rem .5rem;
      border-radius: .2rem;
      font-size: 15px;
      font-family: $font-secundaria;
      color: #fff;
      background-color:#1a4f70;
      border:solid 1px #fff;
      cursor: pointer;
      transition:all .4s ease;
      position: absolute;
      bottom: .5rem;
      // Adicionando animação de hover no botão
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  // Botão de voltar para o portfolio
  .btn_voltar_port{
    @include estili-names($font-principal,#fff,20px);
    position: absolute;
    bottom:2rem;
    left: 5rem;
    text-decoration: none;
    padding:.4rem 2rem;
    background-color:#1350BD;
    border-radius: .4rem;
    transition:all .4s;
    // Adicionando animação de hover no btn
    &:hover{
      transform:scale(1.1);

    }
  }

  // Responsividades
  @media(max-width:645px){
    .gerador-wrapper{
      width: 90%;

      h3{
        left:0;
      }

      .gerador-elementos{
        font-size:15px;
      }

      .btn_senha{
        width: 80%;
      }
    }

    .btn-voltar-port{
      left: 0;
    }
  }

  @media(max-width:320px){
    .btn_senha{
      height: 2rem;
    }
  }
}

